.wrapper {
    position: relative;
    background: url("../assests/login_page_bg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    /* min-height: 100vh; */
}

.container {
    width: 100%;
    /* max-width: 500px; */

    position: relative;
    flex-direction: column;
    background: transparent;
    width: 100%;
    min-height: 100vh;
    padding: 70px 50px;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

/* error msg */

.error_msg_con {
    justify-items: flex-start;
    background: #FFC7CF;
    position: fixed;
    top: 40px;
    width: 400px;
    padding: 2px 5px;
    font-size: 15px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 999;
}

.visible {
    opacity: 1 !important;
    transform: translateY(0);
}

.error_msg_con>i {
    height: 100%;
    padding: 12px;
    font-size: 20px;
}

.error_msg_con>p {
    width: calc(100% - 40px);
    margin: 0 !important;
}

/* login form */

.login_form,
.cpassword_form {
    background: url("../assests/login_bottom.png") no-repeat, #ffffff;
    background-position: bottom;
    background-size: contain;
    width: 400px;
    height: 550px;
    padding: 20px 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}

.cpassword_form {
    background: url("../assests/cpassword_bottom.png") no-repeat, #ffffff;
    background-position: bottom;
    background-size: contain;
}

.login_head,
.signup_head,
.cpassword_head {
    margin: 20px 0 5px;
    color: #000000;
    font-size: 35px;
    font-weight: 600;
}

.login_info,
.signup_head_info,
.cpassword_info {
    margin-bottom: 50px;
    font-size: 12px;
    color: #898989;
}

.signup_head_info{
    text-align: left;
    margin: 10px 0 0;
}

.label_grp1 {
    justify-items: flex-start;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border-bottom: 1px solid #b8bdc9;
    /* border-radius: 5px; */
}

.label_grp1>i {
    width: 40px;
    height: 100%;
    padding: 10px 12px;
    color: #696969;
}

.label_grp1>input {
    width: calc(100% - 40px);
}

input:read-only {
    border: 1;
    box-shadow: none !important;
    background-color: white !important;
}

::placeholder {
    color: #696969;
    opacity: 1; /* Firefox */
}

.login_btn,
.cpassword_btn {
    background: #000000;
    /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */

    width: 100%;
    margin-top: 30px;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.signup_info {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #898989;
}

#signupLink{
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.signup_info>a {
    color: #000000;
    font-weight: 600 !important;
}

.transition-active .login_form {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}


/* Signup form */
.go_backLink{
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 14px;
    cursor: pointer;
}

.go_backLink>i{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    padding: 6px;
}

.transition-active .signup_form {
    transform: translateX(0);
    opacity: 1;
    display: block;
}

.signup_form{
    position: relative;
    display: none;
    transform: translateX(100%);
    opacity: 0;

    margin-top: 70px;
    justify-content: flex-start;
    background: #ffffff;
    background-position: bottom;
    background-size: contain;
    width: 800px;
    padding: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}

.signup_head{
    width: 100%;
    margin: 0;
    text-align: left;
}

.basic_info,
.address_info,
.academic_info{
    margin-top: 70px;
}

.basic_info_head,
.address_info_head,
.academic_info_head{
    text-transform: uppercase;
    font-size: 18px;
}

.basic_info>.block{
    align-items: flex-start;
    justify-content: space-between;
}

.label_grp2{
    margin-top: 50px;
}

.label_grp2:nth-child(1){
    margin-top: 30px;
}

.basic_info>.block>.label_grp2{
    width: calc(100% - 220px);
}

.label_grp2>input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid #b8bdc9;
    border-radius: 5px !important;
}

.label_grp2 .input_wrap{
    position: relative;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: 1px solid #b8bdc9;
    border-radius: 5px !important;
    /* overflow: hidden; */
}

.label_grp2 .input_wrap input{
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border-radius: 5px;
}

.label_grp2 .sub_grp1{
    width: 100%;
    justify-content: space-between;
}

.label_grp2 .sub_grp2{
    width: 100%;
    margin-top: 50px;
}

.label_grp2 .sub_grp1 .input_wrap:nth-child(1){
    width: calc(70% - 30px);
}

.label_grp2 .sub_grp1 .input_wrap:nth-child(2){
    width: 30%;
}

.label_grp2 .input_wrap::after{
    position: absolute;
    bottom: -25px;
    left: 0;
    content: attr(placeholder);
    width: 100%;
    /* text-transform: capitalize; */
    font-weight: 300;
    font-size: 13px;
}

.photo_con{
    position: relative;
    margin-top: 20px;
}

.photo_con .student_photo_preview{
    width: 170px;
    height: 180px;
    margin: 10px 0;
    border: 1px solid #b8bdc9;
    border-radius: 5px;
    overflow: hidden;
}

.student_photo_preview img {
    background: #ffffff;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.student_photo_upload_btn{
    position: absolute;
    background: #f2f2f2;
    width: 100%;
    padding: 12px 15px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #b8bdc9;
    border-radius: 5px;
    cursor: pointer;
    transition:  all 0.3s ease-in-out;
}

.student_photo_upload_btn:hover{
    background: #ececec;
}

.birth_date .input_wrap:nth-child(n){
    width: 32% !important;
}

.address .input_wrap,
.academic .input_wrap{
    margin-bottom: 50px;
}

.address .sub_grp1 .input_wrap{
    width: calc(50% - 15px) !important;
}

.academic .sub_grp2{
    justify-content: space-between;
    width: 100%;
}

.academic_info>.label_grp2:nth-last-child(1){
    margin-top: 0px !important;
}

.academic_info>.label_grp2:nth-child(n+1)>.sub_grp2{
    margin-top: 0px !important;
}

.academic .sub_grp3{
    width: calc(50% - 15px) !important;
}

.signup_submit_btn_con>button{
    background: #000000;
    width: fit-content;
    margin: 50px 15px 0;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

/* .signup_submit_btn_con>button:nth-child(1){
    background: #ffffff;
    border: 2px solid #000000;
    color: #000000;
    padding: 13px 30px;
} */




.form-select, .form-control{
    width: 100%;
    height: 100%;
    border: 5px !important;
}

@media (min-width: 1400px) {
    .container{
        max-width: 100% !important;
    }
}